<div class="input_box">
     <input type="text" placeholder="Enter the title" [(ngModel)]="title"/>
     <button (click)="onSubmit()">search </button>
</div>

  <div class="select_box">
    <select name="page" id="page" [(ngModel)]="page" (change)="selectPage()">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="50">50</option>
    </select>
 </div>

 <div class="buttons">
   <button (click)="back()" id="btn1">back</button>
   <button (click)="next()" id="btn2">next</button>
 </div>

<div class="main">
<div class="apidata" *ngFor="let item of arraydata">
  <div class="imgclass">
  <img src={{item.images.original.url}} alt="myimage">
  </div>
</div>
</div>